.bar{
    background-color: rgb(8, 8, 56);
    color: white;
    display: flex;
    height: 190px;
    
}
.bar-yazı{
    width: 22%;
    height: 30%;
    margin-left: 7%;
    font-weight: 200;
}
.bar-btn{
  margin-top: 85px;
  margin-left: 65px;
  
}
.bar-btn1{
    padding: 13px;
    background-color: rgb(8, 8, 56); 
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;

}
.bar-btn1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}
.bar-btn2{
    padding: 13px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}
.bar-btn3{
    padding: 13px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}
.bar-btn4{
    padding: 13px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}
.bar-btn5{
    padding: 13px;
    background-color: rgb(8, 8, 56);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
   
}
.bar-btn5:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}


.mainPage .side-bar{
    border: 2px solid white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68%;
    background-color: rgb(228, 221, 221);
    width: 280px;
    border-radius: 10px;
    position: absolute;
    top: 42%;
    overflow: hidden;
}

.side-bar-kasko{

   
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #ea1c73;
    border-bottom-color: #ea1c73;
    color: white;
    font-size: larger;
    border-radius: 10px;
}

.side-bar-kasko:hover{
    cursor: pointer;
}
.side-bar-motor {
    display: block;
    font-size: larger;
    border-bottom: 1px solid #e4e4e4;
    height: 60px;
    margin-bottom: 10px;
}
.side-bar-motor:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-motor a {
    color: black;
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    height: 100%;
}
.side-bar-motor a:hover{
    color:white;
    text-decoration: none;
    
}

.side-bar-saglık{
    display: flex;
    
    height: 60px;
    
    border-bottom: 1px solid #e4e4e4;
   margin-bottom: 10px;
    font-size: larger;
}

.side-bar-saglık:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
    
}
.side-bar-saglık a{
    color: black;
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    height: 100%;
}
.side-bar-saglık a:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-dask{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
    font-size: larger;
    margin-bottom: 10px;
    
}
.side-bar-dask:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-seyahat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #e4e4e4;
    font-size: larger;
    margin-bottom: 10px;
}
.side-bar-seyahat:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-hekim{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: larger;
    margin-bottom: 10px;
    
}
.side-bar-hekim:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-kimlik{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: larger;
    border-bottom: 1px solid #e4e4e4;
    
}
.side-bar-kimlik:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.orta{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    border:1px solid transparent;
    background-color: transparent;
    width: 20%;
    color: white;
    flex-wrap: wrap;
    height: 750px;
}
.textler{
    display: flex;
    flex-direction: row;
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.textler2{
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
}
.textler3{
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
    
}
.yazılar-lol{
    display: flex;
    flex-direction: row;
    font-weight: 300;
}
.yazılar-lol2{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-weight: 300;
}
.yazılar-lol3{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-weight: 300;
}

.yazılar-lol4{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-weight: 300;
}

.orta-btn{
    margin-left: 30%;
    padding: 5px;
    width: 170px;
    height: 45px;
    font-size: 20px;
    background-color: #ea1c73;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    
}
.orta-btn:hover{
    background-color: #c2165e;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}

.yazılar-lol input{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.yazılar-lol2 input{
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.yazılar-lol3 input{
    width: 35px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.yazılar-lol4 input{
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.yazılar-lol input:checked{
    box-shadow: inset 0px 0px 0px 5px deeppink;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}
.yazılar-lol2 input:checked{
    box-shadow: inset 0px 0px 0px 5px deeppink;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}
.yazılar-lol3 input:checked{
    box-shadow: inset 0px 0px 0px 5px deeppink;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}
.yazılar-lol4 input:checked{
    box-shadow: inset 0px 0px 0px 5px deeppink;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}