.bar{
    background-color: rgb(8, 8, 56);
    color: white;
    display: flex;
    height: 150px;
    
}
.bar-yazı{
    width: 22%;
    height: 30%;
    margin-left: 10%;
}
.bar-btn{
  margin-top: 85px;
  margin-left: 65px;
  
}
.bar-btn1{
    padding: 10px;
    background-color: rgb(8, 8, 56); 
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;

}
.bar-btn1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.bar-btn2{
    padding: 10px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.bar-btn3{
    padding: 10px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.bar-btn4{
    padding: 10px;
    background-color: rgb(8, 8, 56);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.bar-btn4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.bar-btn5{
    padding: 10px;
    background-color: rgb(8, 8, 56);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
   
}
.bar-btn5:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


.mainPage .side-bar{
    border: 2px solid white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    background-color: rgb(228, 221, 221);
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 34%;
    overflow: hidden;
}

.side-bar-kasko{

   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #ea1c73;
    border-bottom-color: #ea1c73;
    color: white;
    font-size: larger;
    border-radius: 10px;
}

.side-bar-kasko:hover{
    cursor: pointer;
}
.side-bar-motor {
    display: block;
    border-bottom: 1px solid black;
    font-size: larger;
    height: 80px;
    border-top: 1px solid #ea1c73;
}
.side-bar-motor:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-motor a {
    color: black;
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    height: 100%;
}
.side-bar-motor a:hover{
    color:white;
    text-decoration: none;
    
}

.side-bar-saglık{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    
    border-bottom: 1px solid black;
   
    font-size: larger;
}

.side-bar-saglık:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
    
}
.side-bar-saglık a{
    color: black;
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    height: 100%;
}
.side-bar-saglık a:hover{
    background-color: rgb(8, 8, 56);
    color:white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-dask{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid black;
    font-size: larger;
}
.side-bar-dask:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-seyahat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid black;
    font-size: larger;
}
.side-bar-seyahat:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-hekim{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: larger;
    
}
.side-bar-hekim:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.side-bar-kimlik{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: larger;
    border-top: 1px solid black;
    
}
.side-bar-kimlik:hover{
    background-color: rgb(8, 8, 56);
    color: white;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    border-radius: 10px;
}
.orta{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    border:1px solid transparent;
    background-color: transparent;
    width: 20%;
    height: 100%;
    color: white;
    flex-wrap: wrap;
}
.textler{
    display: flex;
    flex-direction: row;
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.textler2{
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
}
.textler3{
    width: 175px;
    height: 20px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
}
.yazılar-lol{
    display: flex;
    flex-direction: row;
}
.yazılar-lol2{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    width: 100%;
}
.yazılar-lol3{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    width: 100%;
}

.yazılar-lol4{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    width: 100%;
}
[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #888;
}
.orta-btn{
    margin-left: 30%;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #ea1c73;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    
}
.orta-btn:hover{
    background-color: #c2165e;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}

