.step3-yazi{
    margin-left: 10%;
    margin-top: 5%;
}
.step3-yazi span{
    color: deeppink;
    font-weight: bold;
    font-size: 26px;
}

.step3-p{
    width: 50%;
    font-weight: 300;
    font-size: 20px;
    color: black;
}
.step3-orta-yazi{
    margin-top: 5%;
    margin-left: 9%;
   
}
.step3-orta-yazi label{
    color: deeppink!important;
    font-weight:  bold!important;
    font-size: 20px;
}
.buyuk-kutular{
    margin-top: 5.7%!important;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 7%;
    width: 290px;
    background-color: white;
    border-radius: 7px;
    height: 60%;
}
.arkasi-pembe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
    height: 60px;
    justify-content: center;
    text-align: center!important;
    font-weight:bold;
    font-size: 24px;
    color: white;
    
    border-radius: 6px;
   
    width: 100%;
    margin-top: 0!important;
}
.buyuk-kutular-ist{
    margin-left: 5%;
    font-size: 19px;
    font-weight: 400;
}
.step3-resim{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
.buyuk-kutular-krm{
    margin-left: 2%;

}
.buyuk-kutular-krm span{
    background-color: deeppink;
    color: white;
    border-radius: 5px;
    padding: 4px;
}
.buyuk-kutular label,span{
    margin-top: 10%;
}
.buyuk-kutular-yesil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    position: absolute;
    width: 270px;
    left: 17.5%;
    top: 82%;
    background-color: white;
    border-radius: 7px;
    height: 850px;
}
.arkasi-yesil{
    background-color: #44bd32;
    height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    color: white;
    padding: 10px;
    width: 200px;
    
    border-radius: 6px;
    width: 95%;
    margin-top: 0!important;
    
}
.buyuk-kutular-ist-ysl{
    margin-left: 5%;
    font-size: 19px;
    font-weight: 400;
    padding: 5px;
}
.buyuk-kutular-krm-ysl{
    margin-left: 2%;
    margin-top: 10%;

}
.buyuk-kutular-krm-ysl span{
    background-color: #44bd32;
    color: white;
    border-radius: 5px;
    padding: 4px;
}
.buyuk-kutular-yesil label,span{
    margin-top: 10%;
}

.buyuk-kutular-lacivert{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    position: absolute;
    width: 270px;
    left: 36.5%;
    top: 82%;
    background-color: white;
    border-radius: 7px;
    height: 850px;
}
.arkasi-lacivert{
    background-color: #1f2346;
  
    height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    color: white;
    padding: 10px;
    width: 200px;
    
    border-radius: 6px;
    width: 95%;
    margin-top: 0!important;
}
.buyuk-kutular-ist-lcv{
    margin-left: 5%;
    font-size: 19px;
    font-weight: 400;
    padding: 5px;

}
.buyuk-kutular-krm-lcv{
    margin-left: 2%;
    margin-top: 10%;
   

}
.buyuk-kutular-krm-lcv span{
    background-color: #1f2346;
    color: white;
    border-radius: 5px;
    padding: 4px;
}
.buyuk-kutular-lacivert label,span{
    margin-top: 10%;
}
.step3-sag-bar{
    position: absolute;
    border-radius: 17px;
    right: 2%;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    border-radius: 7px!important;
    width: 30%;
}
.step3-sag-bar-paket{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: #666666!important;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 10px;
    height: 100px;
    width: 80%;
    background-color: #e8eaff;
}
.step3-button{
    background-color: #44bd32;
    font-size: 16px;
    padding: 10px;
    color:white;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    border: none;
    outline: none;
    margin-top: 5%;
}
.cekbox{
    margin-top: 5%;
    height: auto;
    width: auto;
}
.cekbox input{

    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;

    outline: none;
    cursor: pointer;
}
.cekbox input:checked{
    box-shadow: inset 0px 0px 0px 5px deeppink;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}
.pembe-alt-kutu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 85%;
    background-color: #7e7e7e;
    border-radius: 7px;

}
.pembe-alt-kutu label{
    font-size: 20px;
    font-weight: bold;
    color: white!important;
}
.pembe-alt-kutu-fiyat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 55px;
}
.pembe-alt-kutu-fiyat label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5%;
}
.step3-teminat{
    margin-left: 9%;
    margin-top: 10%;
    
}
.step3-teminat label{
    font-size: 20px;
    font-weight: bold;
    color: deeppink;
}


